* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #1e293b;
}
/* NAVBAR */
.navbar {
    background-color: #0f172a;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.menu {
    display: flex;
    gap: 25px;
}
.menu a {
    color: white;
    text-decoration: none;
    transition:  0.3s;
}
.menu a:hover {
    color: #38bdf8;
}
/*HERO */
.hero {
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 20px;
}

.btn {
    background-color: #0ea5e9;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover {
    background-color: #0284c7;
}
/* TABELA */

.tabela-container {
    width: 90%;
    margin-top: 40px;
    background-color: white;

    padding: 20px;

    border-radius: 15px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #0f172a;
    color: white;

    padding: 15px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f5f9;
}
/* RESPONSIVIDADE DAS PÁGINAS */

.hero {
    min-height: 100vh;
}

/* TÍTULOS */

.hero h1 {
    color: #0f172a;
}

/* TABELA */

table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
/* DASHBOARD */
.dashboard {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card {
    background: white;
    padding: 25px;
    border-radius: 25px;
    min-width: 220px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.08);

    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10 px 25px rgba(0,0,0,0.15);
}
.card h2 {
    margin-bottom: 15px;    
}
.card p {
    font-size: 36px;
    font-weight: bold;
    color: #0ea5e9;
}
/* FORMULÁRIO DE CADASTRO */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin-top: 30px;
}
.formulario input,
.formulario select {
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    font-size: 16px;
}
.formulario button {
   border: none;
   cursor: pointer;
}
.btn-acao {
    padding: 8px 12px;
    margin: 0 3px;
    font-size: 14px;
}
