<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Paciente - MedFlow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">🏥 MedFlow</div>

        <div class="menu">
            <a href="/">Início</a>
            <a href="/pacientes">Pacientes</a>
            <a href="/medicos">Médicos</a>
            <a href="/consultas">Consultas</a>
        </div>
    </nav>

    <section class="hero">

        <h1>Novo Paciente</h1>

        <p>Cadastro de pacientes do sistema.</p>

        <form class="formulario">

            <input type="text" placeholder="Nome Completo">

            <input type="number" placeholder="Idade">

            <input type="text" placeholder="Telefone">

            <select>
                <option value="">Gênero</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>

            </select>
            
            <button type="submit" class="btn">Cadastrar Paciente</button>


        </form>

    </section>

</body>
</html>