<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente - MedFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">🏥MedFlow</div>
        <div class="menu">
            <a href="/">Início</a>
            <a href="/pacientes">Pacientes</a>
            <a href="/medicos">Médicos</a>
            <a href="/consultas">Consultas</a>
          
        </div>
    </nav>

    <section class="hero">
        <h1>Pacientes Cadastrados</h1>
        <p> Gerenciamento completo de pacientes do sistema.</p>

        <a href="/novo-paciente" class="btn">
            ➕ Cadastrar Novo Paciente
        </a>

        <div class="tabela-container">

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Telefone</th>
                <th>Gênero</th>
            </tr>
        </thead>

        <tbody>

            {% for paciente in pacientes %}

            <tr>
                <td>{{ paciente.id }}</td>
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.idade }}</td>
                <td>{{ paciente.telefone }}</td>
                <td>{{ paciente.genero }}</td>

                <td>
                    <a href="/editar-paciente/{{paciente.id}}" class="btn">✏️Editar</a>
                    <a href="/excluir-paciente/{{paciente.id}}" class="btn">🗑️Excluir</a>
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>
    </section>
    
</body>
</html>